name: Spring Boot CI

on:
  pull_request:
    branches: [ dev ]
    types: [ opened, synchronize ]

permissions:
  contents: read
  checks: write

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # 1) 코드 가져오기
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2) JDK 17 설치
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # 3) Gradle 캐시
      - name: Setup Gradle cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # 4) 실행 권한
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 5) Gradle Build
      - name: Build with Gradle
        run: ./gradlew clean test --no-daemon

      - name: Publish Test Results
        if: always()
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: 'build/test-results/test/*.xml'
